div.container {
    width: 100%;
    border: 1px solid gray;
}


body {
    background-color: rgb(180, 180, 180);
}

a {
    color: rgb(3, 102, 214);
    text-decoration: none;
}

iframe.noScrolling {
    overflow: hidden;
}

header {
    background-color: rgb(120, 120, 120);
    clear: left;
    text-align: center;
    padding: 1px;
}

footer {
    padding: 1em;
    background-color: rgb(60, 60, 60);
    clear: left;
    text-align: center;
}

nav.sideway {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    min-height: 320px;
    color: brown;
    padding: 0;
}


nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 0;
    /*position: absolute;*/
}


    nav ul {
        list-style-type: none;
        padding: 0;
        position: fixed;
    }

li a {
    display: block;
    color: black;
    text-decoration: none;
}

    li a.active {
        background-color: rgb(228, 220, 220);
        color: black;
    }

    li a:hover:not(.active) {
        background-color: rgb(60, 60, 60);
        color: white;
    }

/*@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }*/

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    background-color: rgb(228, 220, 220);
    padding: 1em;
    overflow: hidden;
}
